doctype html
html(lang="en")
    head
        title Zoom
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1 It works!
        main
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")

